.chooseImage{
  width: 800px;
  min-height: 200px;
  border-radius: 15px;
  border: 5px solid;
  background-color: rgb(46, 49, 54);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.chooseImage h1:first-of-type{
  color: white;
  text-align: center;
  margin: 0;
}

.scrollableImages{
  flex: 1;
  height: 100%;
  border: 1px solid rgba(224, 218, 208,.5);
  border-radius: 15px;
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.imgContainer{
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px dotted rgba(255, 255, 255, 0.3);
  &:hover{
    cursor: pointer;
  }
}
.imgContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.uploadImage{
  width: 70%;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.742);
  &:hover{
    cursor: pointer;
  }
}
.exit{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%,-50%);
}