.platformpage{
  display: flex;
  height: 100%;
}
.sidePanel{
  border: 1px solid;
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
}
.features{
  display: flex;
  flex-direction: column;
  flex: 2;
}
.features > button{
  flex: 1;
  font-size: 1.2rem;
}
.accountHub{
  flex: 0 0 300px;
}