.homepage{
  height: 100%;
  background: linear-gradient(to right, rgb(97, 88, 3),rgb(50, 1, 56));
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin{
  background-color: rgb(133, 133, 133);
  border: 5px solid rgb(177, 177, 177);
  border-radius: 30px;
  box-shadow: 20px 20px 20px rgb(0, 0, 0);
  width: 500px;
  height: 500px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.title{
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}
.body{
  width: 100%;
  padding: 10px;
  flex: 1;
}
.prompt{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 1.5em;
}
.submit{
  width: 100%;
  display: flex;
  justify-content: center;
}
.submit button{
  width: 60%;
  padding: 5px;
  border-radius: 10px;
  font-size: 1.5em;
  background-color: rgb(255, 255, 255);
  &:hover{
    background-color:rgb(26, 24, 24);
    color: white;
  }
}