*{
  box-sizing: border-box;
}
html, body, #root, .siteWrapper{
  height: 100vh;
  margin: 0;
  font-size: 15px;
}
.siteWrapper{
  display: flex;
}
.pageContainer{
  flex: 1;
}




button:hover{
  cursor: pointer;  
}