*{
  box-sizing: border-box;
}
html, body, #root, .siteWrapper{
  height: 100vh;
  margin: 0;
  font-size: 15px;
}
.siteWrapper{
  display: flex;
  height: 100vh;
}
.pageContainer{
  flex: 1;
  height: 100vh;

  display: flex;
}


/* globals */
.profilePic{
  border: 1px solid rgb(213, 213, 213);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
}
.profilePic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button:hover{
  cursor: pointer;  
}